*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: #ecf0f1;
	font-family: fantasy;
	font-size: 1vw;
	border-top: 8px solid #ffc600;
	color:#333
}

.container {
	width: 100%;
	margin: 0 auto;
	padding:0 30px;
}
	@media (min-width: 960px){
		.container {
			width: 960px;
			padding: 0;
		}
	}

	/*estilo de header*/
	.header {
}
.header .logo{
		display: block;
		width:200px;
		margin:20px auto	;
		margin-top:28px;

	}

		.header .titulo{
			width: 100%;
			padding: 10px;
			text-align: center;
			font-size: 5vw;
			text-transform: uppercase;
		}

			@media (min-width: 768px){
				.header .titulo{
					font-size: 3vw;
				}
			}

			 	/*estilo do menu*/

			 .header .nav{
			 	position: relative;
			 	display: inline-block;
			 	font-size: 1.6vw;
			 	font-weight: 700;
			 	width:  100%;
			 	text-align: center;
			 	display: flex
			 	justify-content: center; 
			 	margin-top: 20px;
			 }

			 .header .nav {

			 }

			 .header .nav .nav-item{
			 	float: left;
			 	#display: inline;
			 	zoom: 1;
			 	list-style: none;
			 }